<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
    <link rel="stylesheet" rsf:id="scr=rewrite-url" href="../style.css" type="text/css"/>
<title>Enter Guess - RSF Mastermind!</title></head>
  <body rsf:id="scr=sakai-body">
<div class="portletBody">
  <div id="insert"><img rsf:id="scr=rewrite-url" src="../images/rsf-logo-small-trans.gif"/>
  </div>
  <h2>The Four Digit Number Guess Game</h2>
  <h3>Guess a four digit number!</h3>
  <hr/>
  <p>Note: each guess must be 4 unique digits!</p>
  <p>Number of guesses so far:
    <span rsf:id="guesses"/> </p>
  
  <div rsf:id="guesshistory:">
    <h4>Guess history:</h4>
    <table border="1">
      <th>Guess</th>
      <th>Right Position</th>
      <th>Present But Wrong Position</th>
      <tr rsf:id="guessline:">
        <td rsf:id="guess">1738</td>
        <td rsf:id="rightPosition">2</td>
        <td rsf:id="correctButWrongPosition">1</td>
      </tr>
    </table>
  </div>
  <div rsf:id="guesshistory:">
  </div>
  
  <form rsf:id="basic-form" method="post">
    <div class="error" rsf:id="message-for:*"> Your guess was invalid: it must be a 4 digit
      number (e.g 1234), and each digit must be unique. </div>
    <table>
      <tr>
        <td>Guess:</td>
        <td align="left">
          <input type="text" name="guess" value="1234" rsf:id="newguess"/>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="act">
          <input type="submit" class="active" rsf:id="submitGuess" value="Guess"/>
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>