<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
    <link rel="stylesheet" rsf:id="scr=rewrite-url" href="../style.css" type="text/css"/>
<title>Enter Guess - RSF Number Guess</title></head>
<body rsf:id="scr=sakai-body">
<div id="logo">
	<img src="../images/spring-logo.jpg" rsf:id="scr=rewrite-url" alt="Logo" border="0"/> 
</div>
<div class="portletBody">
	<div id="insert"><img rsf:id="scr=rewrite-url" src="../images/rsf-logo-small-trans.gif"/></div>
	<h2>The Number Guess Game</h2>
	<h3>Guess a number between 1 and 100!</h3>
	<hr/>
	<form rsf:id="basic-form" method="post">
		<table>
			<tr class="readOnly">
				<td>Number of guesses:</td>
				<td><b rsf:id="guessesSoFar">4</b></td>
			</tr>
			<tr class="readOnly">
				<td>Your last guess was:</td>
				<td><b rsf:id="lastGuessResult">lower</b></td>
			</tr>
		    <tr>
		    	<td>Guess:</td>
		    	<td>
		    		<input type="text" rsf:id="guess" value="Enter guess here"/>
		    	</td>
		    </tr>
			<tr>
				<td colspan="2" class="act">
          <!-- SWF flowExecutionId parameter is gone from here, not needed in RSF -->
					<input type="submit" class="active" rsf:id="submitGuess" value="Guess"/>
				</td>
			</tr>		    
		</table>
	</form>
</div>
</body>
</html>