<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
	<head>
    <title>RSF Number Guessing Application - Index</title>
     <link rel="stylesheet" href="../style.css" type="text/css"/>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
<script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	</head>
	<body>
    <div class="portletBody">
    <form rsf:id="basic-form">
		<div align="left">Number Guess - An RSF Sample taken from Spring Web Flow</div>
		<hr/>
		<div align="left">
			<p class="act">
				<input rsf:id="startNumberGuess" class="active" type="submit" value="Higher or Lower Number Guess" />
			</p>
			<p>
				The well known higher-or-lower number guess sample app.
			</p>
		</div>
		<hr/>
		<div align="left">
			<p class="act">
        <input rsf:id="startFourDigitNumberGuess" class="active" type="submit" value="4-digit Number Guess" />
			</p>
			<p>
				Figure out the 4 digit number - a fun mindteaser sample app.
			</p>
		</div>
    </form>
      </div>
	</body>
</html>
