<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <!-- Declare that the sessionFactory for this app is the Sakai Global factory -->
<!--   http://opensource.atlassian.com/projects/spring/browse/SPR-1537
  Use an alias once we can upgrade to Spring 1.2.7 for this issue.
 <alias
    name="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory"
    alias="sessionFactory" />
-->
 <bean id="sessionFactory" class="org.springframework.beans.factory.config.BeanReferenceFactoryBean">
   <property name="targetBeanName" value="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory"/>
 </bean>

  <!--  Override the default SEBM to only require a SessionFactory, and map
    these beans directly -->
  <bean id="hibernate-staticEBM" parent="hibernate-staticEBMBase">
    <property name="sessionFactory" ref="sessionFactory" />
    <property name="mappedClasses">
      <value>
        uk.org.ponder.rsf.cookbook.Recipe,
        uk.org.ponder.rsf.cookbook.Category
      </value>
    </property>
  </bean>

</beans>