<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title rsf:id="page_title">RSF AJAX Autocomplete Simple Demo App</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link href="/library/skin/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
   <link href="/library/skin/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
   <script type="text/javascript" rsf:id="scr=portal-matter" language="JavaScript" src="/library/js/headscripts.js"></script>
   <script type="text/javascript" language="JavaScript" src="../js/rsf.js"></script>
   <script type="text/javascript" language="JavaScript" src="../js/actb-az.js"></script>
   <script type="text/javascript" language="JavaScript" src="../js/auto-complete.js"></script>
</head>
<body>
<div class="portletBody">
	<div rsf:id="message_field" class="instruction">This field will be rewritten by the renderer</div>
	<div style="border: solid black 2px;margin:3px;padding:3px;">
		<span rsf:id="input_instructions">Enter a CARET employee username:</span>
		<form rsf:id="input_form" style="display:inline;">
			<input rsf:id="input_field" id="input_field" type="text" size="20" maxlength="20" />
			<div>
				Not an autocomplete field:
				<input id="other_field" type="text" size="20" maxlength="20" />
			</div>
		</form>
	</div>
	<div id="result_field" class="longtext"></div>
</div>

<script rsf:id="init_js" type="text/javascript">
   // NOTE: the entire contents of this script tag will be replaced
   // This is a fake function call (for testing) which will be replaced by RSF with a 
   // real function call with real values which come from the "emitJavascriptCall" method
   //AjaxAutoComplete.initAutocomplete("input_field");
   ACTB.actb(document.getElementById("input_field"),['aaronz','adam','apple','arnold','azkaban']);
</script>

</body>
</html>
