<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://www.ponder.org/rsf">
<head>
<link rel="stylesheet" rsf:id="scr=rewrite-url" href="../style.css"
	type="text/css" />
<link href="/library/skin/tool_base.css" type="text/css"
	rel="stylesheet" media="all" />
<link href="/library/skin/default/tool.css" type="text/css"
	rel="stylesheet" media="all" />
<script type="text/javascript" language="JavaScript"
	src="/library/js/headscripts.js"></script>
<title rsf:id="edit-title">Edit category</title>
</head>
<body rsf:id="scr=sakai-body">
<div class="portletBody">
<h1 rsf:id="new-category-heading">New category</h1>
<h1 rsf:id="edit-category-heading">Edit category</h1>
<form rsf:id="basic-form">
<p class="shorttext">
  <label for="category-name">Name</label>
  <input rsf:id="category-name" id="category-name" size="30" type="text" value="Snacks" /> 
  </p>

<div class="act">
<input type="submit" value="Save" rsf:id="category-save" /> &nbsp;
<a href="categories.html" rsf:id="category-cancel">Cancel</a></p>
</div>
</form>
</div>
</body>
</html>
