<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://www.ponder.org/rsf">
<head>
<title>RSF Number Guessing Application - Index</title>
<link rel="stylesheet" rsf:id="scr=rewrite-url" href="../style.css"
	type="text/css" />
<link href="/library/skin/tool_base.css" type="text/css"
	rel="stylesheet" media="all" />
<link href="/library/skin/default/tool.css" type="text/css"
	rel="stylesheet" media="all" />
<script type="text/javascript" language="JavaScript"
	src="/library/js/headscripts.js"></script>
</head>
<body rsf:id="scr=sakai-body">
<div class="portletBody">
<div class="navIntraTool">
<a href="recipe-edit.html" rsf:id="new-recipe">Create
new recipe</a> 
<a href="recipes.html" rsf:id="recipes-all">Show all
recipes</a> 
<a href="categories.html" rsf:id="categories-all">Show all
categories</a>
</div>
<h1 align="center">Online Cookbook</h1>


</div>
</body>
</html>
