<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
 <head>
   <title>Online Cookbook</title>
  <link rel="stylesheet" href="../style.css" type="text/css" />
  <link href="/library/skin/tool_base.css" rsf:id="scr=portal-matter"
  type="text/css" rel="stylesheet" media="all" />
  <link href="/library/skin/default/tool.css" rsf:id="scr=portal-matter"
  type="text/css" rel="stylesheet" media="all" />
  <script type="text/javascript" rsf:id="scr=portal-matter"
  language="JavaScript" src="/library/js/headscripts.js"></script>
 </head>
 <body>
 <div class="portletBody">
   <div class="navIntraTool">
     <a href="recipe-edit.html" rsf:id="recipe-create">Create new recipe</a>
     <a href="recipes.html" rsf:id="recipes-all">Show all recipes</a>
     <a href="categories.html" rsf:id="categories-all">Show all categories</a>
   </div>
   <div rsf:id="page-replace:"/>
   </div>
 </body>
</html>