<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title rsf:id="basic-title">Show recipe</title>
</head>
<body>

<h1>Show recipe</h1>
<div rsf:id="page:">

<b>Title:&nbsp;</b><span rsf:id="recipe-title">Hot Chips</span>
<p />
<p />
<b>Description:&nbsp;</b><span rsf:id="recipe-description" >Only for the brave!</span>
<p />
<p />
<b>Date:&nbsp;</b><span rsf:id="recipe-date" >2004</span>
<p />
<p />
<b>Instructions:&nbsp;</b><span rsf:id="recipe-instructions" >
Sprinkle hot-pepper sauce on corn chips
</span>

</div>

</body>
</html>