<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title rsf:id="edit-title">Edit recipe</title>
</head>
<body>

<div rsf:id="page:">

<h1 rsf:id="new-recipe-heading">New recipe</h1>
<h1 rsf:id="edit-recipe-heading">Edit recipe</h1>
 <form rsf:id="basic-form">
  <p><b>Title</b><br/>
  <input rsf:id="recipe-title" size="30" 
         type="text" value="Hot Chips" />
  </p>
  <p><b>Description</b><br/>
  <input rsf:id="recipe-description" 
         size="30" type="text" 
         value="Only for the brave!" />
  </p>
  <p><b>Category:</b><br/>

  <select rsf:id="recipe-category">
       <option value="1" selected="true">Snacks</option>
       <option value="2">Beverages</option>
  </select></p>

  <p><b>Instructions</b><br/>
  <textarea cols="40" rsf:id="recipe-instructions" 
            rows="20" wrap="virtual"></textarea> </p>
  <input rsf:id="recipe-save" type="submit" value="Update" />
 </form>

 <a href="recipe-show.html" rsf:id="recipe-show">
   Show
 </a>

</div>

 </body>
</html>