<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://www.ponder.org/rsf">
<head>
<link rel="stylesheet" rsf:id="scr=rewrite-url" href="../style.css"
	type="text/css" />
<link href="/library/skin/tool_base.css" type="text/css"
	rel="stylesheet" media="all" />
<link href="/library/skin/default/tool.css" type="text/css"
	rel="stylesheet" media="all" />
<script type="text/javascript" language="JavaScript"
	src="/library/js/headscripts.js"></script>
<title rsf:id="basic-title">Show recipe</title>
</head>
<body rsf:id="scr=sakai-body">
 <div class="navIntraTool">
 <a href="recipes.html" rsf:id="recipe-back">Back</a>
 </div>
<div class="portletBody">

<h1>Show recipe</h1>
<table class="itemSummary" summary="Review User Information">
	<tr>
		<td><b>Title</b></td>
		<td rsf:id="recipe-title">Hot Chips</td>
	</tr>
	<tr>
		<td><b>Description</b></td>
		<td rsf:id="recipe-description">Only for the brave!</td>
	</tr>

	<tr>
		<td><b>Date</b></td>
		<td rsf:id="recipe-date" >2006-03-08</td>
	</tr> 
	<tr>
		<td><b>Instructions</b></td>
		<td rsf:id="recipe-instructions" >
Sprinkle hot-pepper sauce on corn chips</td>
	</tr>
</table>
</div>
</body>
</html>