<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- documented by aaronz@vt.edu -->
<!-- RSF version by antranig@caret.cam.ac.uk - 
  some contents moved from "spring-beans.xml" -->
<beans>

  <!--  Spring messageSource replaces JSF message-bundle from faces-config.xml -->
 <bean id="messageSource"
    class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    <property name="basename" value="classpath:org/sakaiproject/tool/tasklist/bundle/Messages"/>
    <property name="cacheSeconds" value="10" />
  </bean>

  <!-- Use the Sakai session factory, pre-configured, instead of one local to TaskList,
    Give this your HBM files so the Sakai session factory can use them,
    this creates a tool specific bean to access our data through the Sakai session factory,
    ONLY needed for the hibernate implementation of the manager -->
  <bean id="sessionFactory"
    parent="org.sakaiproject.springframework.orm.hibernate.SessionFactoryBase">
    <property name="mappingResources">
      <list>
        <value>
          org/sakaiproject/tool/tasklist/hibernate/Task.hbm.xml
        </value>
      </list>
    </property>
  </bean>

<!-- Use RSF's "BeanGuard" validation scheme to trap all write accesses to a
     Task entity -->

  <bean parent="writeGuardParent">
    <property name="guardedPath" value="Task.*"/>
    <property name="guardProperty" value="taskTransit.task"/>
  </bean>

  <bean parent="requestAddressibleParent">
    <property name="value" value="deleteIds, taskTransit" />
  </bean>

</beans>