<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- documented by aaronz@vt.edu -->
<!-- RSF version by antranig@caret.cam.ac.uk - 
  some contents moved from "spring-beans.xml" -->
<beans>

  <!--  Spring messageSource replaces JSF message-bundle from faces-config.xml -->
  <bean id="messageSource" parent="messageSource-base">
    <property name="basename"
      value="classpath:org/sakaiproject/tool/tasklist/bundle/Messages" />
  </bean>

  <!-- Use the Sakai session factory, pre-configured, instead of one local to TaskList,
    Give this your HBM files so the Sakai session factory can use them,
    this creates a tool specific bean to access our data through the Sakai session factory,
    ONLY needed for the hibernate implementation of the manager -->
  <bean id="sessionFactory"
    parent="org.sakaiproject.springframework.orm.hibernate.SessionFactoryBase">
    <property name="mappingResources">
      <list>
        <value>
          org/sakaiproject/tool/tasklist/hibernate/Task.hbm.xml
        </value>
      </list>
    </property>
  </bean>


  <!-- create a transactionManager bean from the sakai tool sessionFactory,
    ONLY needed for the hibernate implementation of the manager -->
  <bean id="org.sakaiproject.tool.tasklist.HibernateTransactionManager"
    class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="sessionFactory">
      <ref bean="sessionFactory" />
    </property>
  </bean>

  <!-- create a transaction interceptor which sits between the dao and the
    transaction manager that we created in the previous block, this
    helps us with transaction control,
    ONLY needed for the hibernate implementation of the manager -->
  <!--  NB THIS TPFB apparently not used in example! -->
  <bean id="org.sakaiproject.tool.tasklist.TransactionProxyFactoryBean"
    class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
    lazy-init="true">
    <property name="transactionManager">
      <ref
        bean="org.sakaiproject.tool.tasklist.HibernateTransactionManager" />
    </property>
    <property name="target">
      <ref bean="org.sakaiproject.tool.tasklist.api.TaskListManagerDao" />
    </property>
    <property name="transactionAttributes">
      <props>
        <prop key="*">PROPAGATION_REQUIRED</prop>
      </props>
    </property>
  </bean>

  <bean name="requestAddressibleBeans"
    class="uk.org.ponder.springutil.StringListFactory">
    <property name="strings" value="newtask, deleteIds, taskTransit" />
  </bean>

</beans>