<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title rsf:id="basic-page-title">Sakai Skin for FlowTalk</title>
  <!-- file:///E:/sakai2-jakarta-tomcat-5.5.9/webapps/-->
<link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
<link href="../css/TaskList.css" rsf:id="scr=rewrite-url" rel="stylesheet" type="text/css" />
<script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>

</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">

<h3 class="insColor insBak insBorder" rsf:id="task-list-title">Task List</h3>

Hello, <span rsf:id="current-username">Sakai Administrator</span>

<form rsf:id="new-task-form">
<table class="chefEditItem" border="0" cellspacing="0">
	<tbody>
		<tr>
			<td class="chefLabel"><input rsf:id="new-task-name" value="" size="60" type="text"/></td>
			<td class="chefValue"><input rsf:id="submit-new-task" value="Add Task" type="submit"/></td>
		</tr>
	</tbody>
</table>
</form>

<form rsf:id="delete-task-form">
<!-- This span is needed here to guide the renderer away to the checkboxes -->
<span rsf:id="delete-select"/>
<table id="tasks:tasklist" class="listHier">
	<thead>
		<tr>
			<th class="headerAlignment"></th>
			<th class="headerAlignment">Owner</th>
			<th class="headerAlignment">Task</th>
			<th class="headerAlignment">Date Created</th>
		</tr>
	</thead>
	<tbody id="tasks:tasklist:tbody_element">
		<tr rsf:id="task-row:deletable"> 
			<td class="firstColumn">
			  <input rsf:id="task-select" value="true" type="checkbox"/></td>
			<td class="secondColumn" rsf:id="task-owner">admin</td>
			<td class="thirdColumn" rsf:id="task-name">Die</td>
			<td class="fourthColumn" rsf:id="task-date">May 21, 2006 9:02 AM</td>
		</tr>
		<tr rsf:id="task-row:nondeletable"> 
			<td class="firstColumn"></td>
			<td class="secondColumn" rsf:id="task-owner">admin</td>
			<td class="thirdColumn" rsf:id="task-name">Eat cheese</td>
			<td class="fourthColumn" rsf:id="task-date">May 21, 2006 9:02 AM</td>
		</tr>
	</tbody>
</table>

<p class="act"><input rsf:id="delete-tasks" value="Delete" type="submit"/></p>

</form>

</div>
</body>
</html>
