<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
   <bean parent="templateContributorParent">
    <property name="templateNames" value="sakai-old-date, sakai-FCKEditor, 
      sakai-plainTextEditor, yahoo-date"/>
  </bean>

<!--  disable propagation of the base localeSetter, Sakai tracks the 
  Locale in a standard location in the session. -->
  <bean id="sessionLocaleScope" class="java.lang.String" />
  
</beans>