.firstColumn {
    width: 5%;
    text-align: center; 
}
.secondColumn {
    width: 20%;
	text-align: left;
}
.thirdColumn {
    width: 55%;
	text-align: left;
}
.fourthColumn {
	width: 20%;
	text-align: center;
}
.headerAlignment {
	text-align: center ! important;
}
.error {
	color: red;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 90%;
}
